*{
  font-family: Roboto, sans-serif;
  background-color: #202124;
  color: #E8EAED;
  align-items: center;
}

.display .ANS{
  font-size: 10px;
  height: 40px;
  margin-bottom: 50px;
}

.display  input{
  border: 0;
  text-align: right;
  font-size: 30px;
  user-select: none;
  width: 100%;
  cursor: text;
  outline-color: #202124;
  outline: none;
  background-color:#202124;
}

.display input:hover{
  background-color:#202124;
}

.display {
  width: 35.8rem;
  height: 6rem;
  padding: 5px;
  margin-left: 4px;
  margin-bottom: 4px;
  border-style: solid;
  border-color: #6d6969;
  border-radius: 10px;
  border-width : 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: left;
  justify-content: right;
  cursor: default;
}

input:hover{
  background-color: #2e2e30;
}

.numero:hover{
  background-color: #414548;
}

.operador:hover{
  background-color: #707579;
}

.operador sup{
  background-color: #5F6267;
}

button{
  cursor: pointer;
}

.igual:hover{
  background-color: #B0CBFA;
}

.numero{
  background-color: #3C4043;
  border-radius: 5px;
  width: 5rem;
  height: 2.25rem;
  border-style: none;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.operador{
  background-color: #5F6267;
  width: 5rem;
  height: 2.25rem;
  border-radius: 5px;
  border-style: none;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.igual{
  background-color: #AECBFA;
  color: #202124;
  width: 5rem;
  height: 2.25rem;
  border-radius: 5px;
  border-style: none;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 1%;
}
